
<footer>
    <p>Images courtesy of <a href="http://unsplash.com" target="_blank">unsplash</a></p>
    <p>My Spirit Circle - Developed by <a href="https://github.com/cldaly" target="_blank">Clayton Daly</a></p>
    <ul>
        <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
        <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
        <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
    </ul>
</footer>


</body>
</html>