<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>Spirit Circle - Color Pallet</title>
</head>

<body style="background-color: #fff">

<ul class="colorPallet">
    <li class="color" id="color0"><strong>#005e48;</strong><br>border, icon</li>
    <li class="color" id="color1"><strong>#6fe8d1;</strong><br>button background</li>
    <li class="color" id="color2"><strong>#40d6b5;</strong><br>button:hover</li>
    <li class="color" id="color3"><strong>#a5ffea;</strong><br>button:active</li>
    <li class="color" id="color4"><strong>#053f31;</strong><br>font color for pop-service-grid, become-mentor, main section element</li>
    <li class="color" id="color5"><strong>#f5fffd;</strong><br>pop-service-grid li:hover, main body</li>
    <li class="color" id="color6"><strong>#edf9f7;</strong><br>section#about, mentorServices li:hover</li>
    <li class="color" id="color7"><strong>#cbf2ea;</strong><br>footer</li>
    <li class="color" id="color8"><strong>#00231a;</strong><br>footer a</li>
</ul>

</body>
</html>