<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/23839d1fc8.js"></script>
    <title>My Spirit Circle</title>
</head>

<body>
<header>
    <h2><a href="#">My Spirit Circle</a></h2>
    <nav>
        <li><a href="#">Become a Guide</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#">Sign Up</a></li>
    </nav>
</header>

<section id="landing-main">
    <div id="landing-main-content">
        <h1 id="landing-title">My Spirit Circle</h1>
        <p>Connect with a spiritual mentor online or near you</p>
        <form id="landing-search">
            <div id="searchBar">
                <input type="text" name="search" autocomplete="off" placeholder="Search our services...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div id="searchToggle">
                <input type="radio" name="onlineOrLocal" id="searchOnline" value="online" checked>
                <label for="searchOnline">Online</label>
                <input type="radio" name="onlineOrLocal" id="searchlocal" value="local">
                <label for="searchlocal">Local</label>
            </div>
        </form>
    </div>
</section>
<section id="popular-services">
    <h3 class="section-title">Some of our popular services:</h3>
    <hr>
    <ul id="pop-service-grid">
        <div class="pop-row">
            <li>
                <i class="fas fa-leaf fa-4x"></i>
                <h4>Energy Reading</h4>
                <p>Energy Readers are psychics with a trained ability to use their extra-sensory perception through clairvoyance, clairsentience, clairaudience and claircogizance. In an energy reading, you will learn about how you specifically run your energy and where energy in your body is stuck, stagnant, or leaking.</p>
            </li>
            <li>
                <i class="fas fa-hand-holding-heart fa-4x"></i>
                <h4>Reiki</h4>
                <p>The spiritual healing art of Reiki works by channeling positive energy into your body, with Reiki masters and practitioners typically placing their hands on the affected areas of the body that need a boost, offering this energy and your body takes in the energy where most needed.</p>
            </li>
        </div>
        <div class="pop-row">
            <li>
                <i class="fas fa-om fa-4x"></i>
                <h4>Guided Meditation</h4>
                <p>Guided meditation is a process by which one or more participants meditate in response to the guidance provided by a trained practitioner or teacher, either in person or via a written text, sound recording, video, or audiovisual media comprising music or verbal instruction, or a combination of both.</p>
            </li>
            <li>
                <i class="fas fa-spa fa-4x"></i>
                <h4>Theta Healing</h4>
                <p>A process of meditation that teaches people to develop natural intuition through changing their brain wave cycle to the more relaxed theta waves for the intention of exploring how emotional energy affects a persons health.</p>
            </li>
        </div>
    </ul>
    <div id="pop-services-link">
        <a href="#">Full List of Services</a>
    </div>
</section>
<section id="about">
    <h3 class="section-title">About My Spirit Circle</h3>
    <hr>
    <div id="about-description">
        <p><strong>My Spirit Circle</strong> lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada fames ac turpis egestas sed. Elit pellentesque habitant morbi tristique senectus. Id aliquet lectus proin nibh nisl condimentum id venenatis. </p>
    </div>
</section>

<section id="become-mentor">
    <h3 class="section-title">Become a Spiritual Mentor!</h3>
    <p>If you are interested in becoming a My Spirit Circle Mentor, please enter your email address below. Our team will reach out shortly!</p>
    <form id="become-mentor-form">
        <input type="email" name="becomeMentorEmail" placeholder="email...">
        <button>Submit</button>
    </form>
</section>

<footer>
    <p>Images courtesy of <a href="http://unsplash.com" target="_blank">unsplash</a></p>
    <p>My Spirit Circle ™ - Developed by Clayton Daly</p>
    <ul>
        <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
        <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
        <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
    </ul>
</footer>

</body>
</html>