<% include ../views/partials/header.ejs %>

<section class="mentorProfile">
    <div class="mentorTitle">
        <h2>Soarwithbarbie</h2>
        <i id="favoriteMentor" class="far fa-heart fa-2x"></i>
        <i id=favoriteMentorActive class="fas fa-heart fa-2x" style="display: none;"></i>
    </div>
    <div class="mentorData">
        <div class="mentorAvatar">
            <img src="../images/barbie-01.png">
        </div>
        <ul class="mentorInfo">
            <li class="mentorName"><i class="fas fa-id-badge"></i> Barbie Perez</li>
            <li class="mentorBrief"><i class="fas fa-clipboard"></i> Certified Theta Healing Practioner</li>
            <li class="mentorLocation"><i class="fas fa-map-marker-alt"></i> Location: Fort Lauderdale, FL</li>
            <li class="mentorStartDate"><i class="fas fa-user"></i> Mentor since: Sept. 8th, 2019</li>
        </ul>
    </div>
    <hr>
    <div class="mentorBio">
        <h3>Description</h3>
        <p>Hi! My name is Barbie and I am a Certified ThetaHealing Practitioner. What is Theta Healing? Theta Healing is an energy healing modality in which we are able to connect to universal energy. Once connected into the Theta brain wave state, we will be able to recall and release old programming hidden in the subconscious mind and release limiting beliefs. Theta sessions will assist you in finding your life purpose and manifesting the life of your dreams, as well as help you release emotional pain, physical ailments, relieve anxiety. Let's chat!</p>
    </div>
</section>

<section class="mentorServices">
    <h2>Soarwithbarbie's Services:</h2>
    <hr>
    <ul class="mentorServiceList">
        <li class="mentorServiceItem">
            <img src="../images/service-img-01.png">
            <div class="mentorServiceDetails">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul class="serviceDescriptors">
                    <li><strong>Price:</strong> $25 - $100</li>
                    <li><strong>Duration:</strong> 15 - 60 minutes</li>
                    <li><strong>Availability:</strong> 48 hr. notice</li>
                </ul>
                <a class="bookButton" href="#">Book This Service</a>
            </div>
        </li>
        <li class="mentorServiceItem">
            <img src="../images/service-img-02.png">
            <div class="mentorServiceDetails">
                <h3>Ut Enim Ad</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <ul class="serviceDescriptors">
                    <li><strong>Price:</strong> $25 - $100</li>
                    <li><strong>Duration:</strong> 15 - 60 minutes</li>
                    <li><strong>Availability:</strong> 48 hr. notice</li>
                </ul>
                <a class="bookButton" href="#">Book This Service</a>
            </div>
        </li>
        <li class="mentorServiceItem">
            <img src="../images/service-img-03.png">
            <div class="mentorServiceDetails">
                <h3>Duis Aute</h3>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <ul class="serviceDescriptors">
                    <li><strong>Price:</strong> $25 - $100</li>
                    <li><strong>Duration:</strong> 15 - 60 minutes</li>
                    <li><strong>Availability:</strong> 48 hr. notice</li>
                </ul>
                <a class="bookButton" href="#">Book This Service</a>
            </div>
        </li>
        <li class="mentorServiceItem">
            <img src="../images/service-img-04.png">
            <div class="mentorServiceDetails">
                <h3>Excepteur Sint Occaecat</h3>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <ul class="serviceDescriptors">
                    <li><strong>Price:</strong> $25 - $100</li>
                    <li><strong>Duration:</strong> 15 - 60 minutes</li>
                    <li><strong>Availability:</strong> 48 hr. notice</li>
                </ul>
                <a class="bookButton" href="#">Book This Service</a>
            </div>
        </li>
    </ul>
    <div class="moreServices">
        <a>Load More Services</a>
        <i class="fas fa-angle-double-down"></i>
    </div>
</section>

<section class="mentorReviews">
    <h2>Soarwithbarbie's Review</h2>
    <hr>
    <div class="mentorScore">
        <span>My Spirit Circle Mentor Score - </span>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <i class="far fa-star"></i>
        <span class="scoreAmount">(12)</span>
    </div>
    <div class="mentorComments">
        <h3>Comments</h3>
        <ul>
            <li>
                <div class="commenterData">
                    <p class="username">SpiritDude91</p>
                    <p class="commentDate">07/23/2019</p>
                </div>
                <p class="comment">Plate Fleet six pounders chantey scuppers jolly boat smartly run a rig ahoy Jack Ketch knave topmast ye. Barbary Coast brig Sink me fathom landlubber or just lubber brigantine Sail ho lanyard Arr gangway clipper boom. Man-of-war sheet clap of thunder execution dock driver gunwalls Pirate Round fathom gally lugger Plate Fleet cable.</p>
            </li>
            <li>
                <div class="commenterData">
                    <p class="username">SpiritDude91</p>
                    <p class="commentDate">07/23/2019</p>
                </div>
                <p class="comment">Plate Fleet six pounders chantey scuppers jolly boat smartly run a rig ahoy Jack Ketch knave topmast ye. Barbary Coast brig Sink me fathom landlubber or just lubber brigantine Sail ho lanyard Arr gangway clipper boom. Man-of-war sheet clap of thunder execution dock driver gunwalls Pirate Round fathom gally lugger Plate Fleet cable.</p>
            </li>
            <li>
                <div class="commenterData">
                    <p class="username">SpiritDude91</p>
                    <p class="commentDate">07/23/2019</p>
                </div>
                <p class="comment">Plate Fleet six pounders chantey scuppers jolly boat smartly run a rig ahoy Jack Ketch knave topmast ye. Barbary Coast brig Sink me fathom landlubber or just lubber brigantine Sail ho lanyard Arr gangway clipper boom. Man-of-war sheet clap of thunder execution dock driver gunwalls Pirate Round fathom gally lugger Plate Fleet cable.</p>
            </li>
        </ul>
    </div>
    <a class="commentButton">Leave a Comment</a>
</section>

<script type="text/javascript" src="../mentorScripts.js"></script>

<% include ../views/partials/footer %>